:root {
    --primary-color: #005f73; /* deep teal */
    --secondary-color: #0a9396; /* light teal */
    --background-color: #eefcff; /* very light blue */
    --text-color: #001219; /* almost black */
    --error-color: #ff595e; /* light red for errors */
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
}

a, button {
    color: var(--primary-color);
}

h1, h2, h3 {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}

body {
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    margin: 0;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

input:hover, select:hover, button:hover {
    border-color: var(--secondary-color);
    background-color: var(--background-color);
}

input:focus, select:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(10, 147, 150, 0.5); /* light teal glow */
}

button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}

.card {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.card > .card-body {
    display: flex;
    flex-direction: column;
}

.card-title {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

input[type="number"] {
    font-size: 18px; /* Larger font for easy interaction */
}

@keyframes button-click {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

button:active {
    animation: button-click 0.2s ease;
}

.error-message {
    color: var(--error-color);
    font-size: 14px;
}

[aria-hidden="true"] {
    visibility: hidden;
}

/* Additional responsive font size adjustments */
@media (max-width: 1200px) {
    .fentanyl-input {
        font-size: calc(14px + 0.3vw); /* Adjusts font size dynamically */
    }
}

@media (max-width: 992px) {
    .fentanyl-input {
        font-size: calc(12px + 0.3vw); /* Smaller font size for tablets and small desktops */
    }
}

@media (max-width: 768px) {
    .fentanyl-input {
        font-size: 16px; /* Fixed size for mobile devices to maintain readability */
    }
}
footer {
    background-color: #f8f9fa;
    color: #333;
    border-top: 1px solid #e7e7e7;
}

footer p {
    font-size: 14px;
    line-height: 1.6;
}

footer a {
    color: var(--primary-color);
}

footer a:hover {
    text-decoration: underline;
}
